<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <h1>CATALOG</h1>
    {%for product in products%}
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">product example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">перейти</a>
        </div>
      </div>
    {%endfor%}
</body>
</html>